::-webkit-scrollbar {
  width: 16px;
  height: 20px;
}
::-webkit-scrollbar-thumb {
  background: #5c0511;
}
::-webkit-scrollbar-thumb:hover {
  background: #e05a0c;
}
.alinhamentoApi {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  margin: auto;
}
.flex-api {
  display: grid;
  grid-template-rows: 200px 400px auto;
  grid-template-columns: 200px 600px 200px;
  flex-direction: column;
  justify-content: center;
  height: 300px;
  flex-grow: 2;
  list-style-type: none;
  align-items: center;
  padding-inline-start: 0px;
}
.cabecalho {
  grid-row: 1;
  grid-column: 2;
  display: flex;
  flex-direction: column;
  /*   justify-self: center;
 */
  width: 600px;
}
.tituloDrink {
  display: inline;
  align-self: center;
  font-family: "Bilbo Swash Caps", cursive;
  color: #5d0612;
  font-size: 50px;
  margin-top: 20px;
  margin-bottom: 0px;
}
.divBotao {
  display: flex;
  justify-content: space-around;
}
.botoes {
  background-color: #5c0511;
  border: none;
  height: 40px;
  border-radius: 10px;
  width: 200px;
  font-size: large;
  color: white;
  cursor: pointer;
}

.botoes:hover {
  background-color: #e05a0c;
}
.secaoBebidas {
  grid-row: 2;
  grid-column: 1;
  overflow-y: scroll;
  margin-top: 0px;
  height: 400px;
}

.conteudoDrinks {
  grid-row: 2;
  grid-column: 2;
  align-self: center;
  margin-top: auto;
  margin-bottom: auto;
}
.imgApiSecao {
  margin-top: auto;
  margin-bottom: auto;
  grid-row: 2;
  grid-column: 3;
  justify-self: center;
}
.imgApi {
  width: 160px;
  align-self: center;
  border-radius: 10px;
}
